.content1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.products {
    align-self:flex-start;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    gap: 30px;
    justify-content: space-around;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 60%;
}